/*  regole di reset  */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Marker Felt, fantasy;
}

/* regole header  */

.header {
    text-align: center;
    padding-bottom: 40px;
    max-width: 900px;
    
}

.header-title {
    font-size: 36px;
    color: rgb(185, 12, 38);
    font-weight: 800;
    margin: 50px;
}

.header-p {
    font-size: 14px;
}

.header, .container {  
    margin: 0 auto;
    padding-bottom: 20px;
}

/* regole main  */

.container {
    max-width: 900px;
}

.column {
    float: left;
    width: calc((100%-90px) /3);
}

.card {
    margin: 15px;
    box-shadow: 2px 2px 2px 2px grey;
    background-color: rgb(16, 13, 13);
    color: rgb(202, 210, 216);
    line-height: 1.6;
}

/* .container::after {
    content:'';
    display: table;
    clear: both; 
}  */

 .row::after {
    content:'';
    display:  table;
    clear: both; 
} 

.card::after {
    content:'';
    display: table;
    clear: both;
}

.card-img {
    float: left;
    height: 90px;
    width: 90px; 
    margin-right: 10px; 
}

.card-name {
    font-size: 16px;
    padding-top: 5px;
}

.card-job {
    font-size: 13px;
}

.card-email {
    font-size: 11px;
    color:rgb(62, 133, 195);
}



